* {
  //box-model
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //positioning
  position: relative;

  //box-model
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  //visual
  //background-color: $light-gray;
}

/*Google Icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}