//TYPOGRAPHY

//family
$font-primary: 'Fraunces', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: sans-serif;

//weights
$weight-primary-medium: 500;
$weight-primary-heavy: 700;
$weight-secondary-heavy: 700;

//sizes
$font-size-primary: 30px;
$font-size-secondary: 14px;
$font-size-tertiary: 11px;

//spacing

$line-height-primary: $font-size-primary;
$line-height-secondary: calc($font-size-secondary * 1.5); 
$letter-spacing-secondary: calc($font-size-secondary/2);

//COLORS

$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

$link-blue: hsl(228, 45%, 44%);

//DEVICES

$mobile-width: 375px;
$desktop-width: 1440px;

//MEDIA SIZES
$product-photo-height: 450px;
$product-photo-width: 300px;

$product-info-height: $product-photo-height;
$product-info-width: $product-photo-width;


//MARGINS

$margin-small: 10px;
$margin-medium: 20px;
$margin-big: 30px;

//PADDINGS

$padding-small: 10px;
$padding-medium: 20px;
$padding-big: 30px;

//RADIUS

$radius-small: 10px;
$radius-medium: 20px;