//TYPOGRAPHY

//family
$font-primary: 'Fraunces', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: sans-serif;

//weights
$weight-primary-medium: 500;
$weight-primary-heavy: 700;
$weight-secondary-heavy: 700;

//sizes
$copy-size: 14px;


//COLORS

$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

//DEVICES

$mobile-width: 375px;
$desktop-width: 1440px;

//MEDIA SIZES



//MARGINS

$margin-small: 10px;

//PADDINGS

$padding-small: 10px;
$padding-medium: 15px;

//RADIUS

$radius-small: 10px;
$radius-medium: 20px;