/*Montserrat - 500, 700*/
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap';
/*Fraunces - 500*/
@import 'https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .product-photo {
  height: 33rem;
  width: 22rem;
}
.product-card .product-photo .photo {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.product-card .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 33rem;
  width: 22rem;
  padding: 2.25rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  background-color: hsl(0, 0%, 100%);
}
.product-card .product-info .category {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3333333333rem;
  color: hsl(228, 12%, 48%);
}
.product-card .product-info .title {
  margin-right: 2.25rem;
  text-transform: capitalize;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: hsl(212, 21%, 14%);
}
.product-card .product-info .copy {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(228, 12%, 48%);
}
.product-card .product-info .copy .capitalized {
  text-transform: capitalize;
}
.product-card .product-info .copy .uppercased {
  text-transform: uppercase;
}
.product-card .product-info .pricing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-card .product-info .pricing .price {
  margin-right: 2.25rem;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
}
.product-card .product-info .pricing .price::before {
  content: "$";
}
.product-card .product-info .pricing .old-price {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: hsl(228, 12%, 48%);
}
.product-card .product-info .pricing .old-price::before {
  content: "$";
}
.product-card .product-info .add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding: 1.5rem;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 0.75rem;
  background-color: hsl(158, 36%, 37%);
  transition: all 0.3s;
}
.product-card .product-info .add-to-cart:hover {
  cursor: pointer;
  background-color: #1c3b30;
}
.product-card .product-info .add-to-cart .icon {
  margin-right: 0.75rem;
}

/*Minimum Optimal device width is 375px*/
@media only screen and (max-width: 50rem) {
  .product-card {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .product-card .product-photo {
    height: 18rem;
    width: 25rem;
  }
  .product-card .product-photo .photo {
    border-radius: unset;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  .product-card .product-info {
    height: 29rem;
    width: 25rem;
    padding: 2.25rem;
    border-radius: unset;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
}
.attribution {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.75rem;
  font-family: sans-serif;
  font-size: 0.75rem;
  text-align: center;
}
.attribution .link {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */