@import 'fonts';
@import 'icons';
@import 'variables';
@import 'common';

.product-card{
  
}

.attribution {
  //positioning
  position: absolute;
  bottom: 0;

  //box-model
  margin-bottom: $margin-small;

  //typography
  font-family: $font-tertiary;
  font-size: $font-size-tertiary; 
  text-align: center;

  .link {
    //typography
    color: $link-blue;
  }
}