/*Montserrat - 500, 700*/
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap';
/*Fraunces - 500*/
@import 'https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

/*Minimum Optimal device width is 375px*/
@media only screen and (min-width: 375px) and (max-width: 700px) {
  body {
    height: unset;
    min-height: 100vh;
  }
}
.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .product-photo-mobile {
  display: none;
}
.product-card .product-photo-desktop {
  height: 450px;
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.product-card .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 450px;
  width: 300px;
  padding: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}
.product-card .product-info .category {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 4.6666666667px;
  color: hsl(228, 12%, 48%);
}
.product-card .product-info .title-mobile {
  display: none;
}
.product-card .product-info .title-desktop {
  text-transform: capitalize;
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: hsl(212, 21%, 14%);
}
.product-card .product-info .copy {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: hsl(228, 12%, 48%);
}
.product-card .product-info .copy .capitalized {
  text-transform: capitalize;
}
.product-card .product-info .copy .uppercased {
  text-transform: uppercase;
}
.product-card .product-info .pricing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-card .product-info .pricing .price {
  margin-right: 30px;
  font-family: "Fraunces", serif;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}
.product-card .product-info .pricing .price::before {
  content: "$";
}
.product-card .product-info .pricing .old-price {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}
.product-card .product-info .pricing .old-price::before {
  content: "$";
}
.product-card .product-info .add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding: 20px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  transition: all 0.3s;
}
.product-card .product-info .add-to-cart:hover {
  cursor: pointer;
  background-color: #1c3b30;
}
.product-card .product-info .add-to-cart .icon {
  margin-right: 10px;
}

/*Minimum Optimal device width is 375px*/
@media only screen and (min-width: 375px) and (max-width: 700px) {
  .product-card {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .product-card .product-photo-desktop {
    display: none;
  }
  .product-card .product-photo-mobile {
    display: block;
    height: 250px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .product-card .product-info {
    height: 400px;
    width: 350px;
    padding: 30px;
    border-radius: unset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .product-card .product-info .title-desktop {
    display: none;
  }
  .product-card .product-info .title-mobile {
    display: flex;
    text-transform: capitalize;
    font-family: "Fraunces", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: hsl(212, 21%, 14%);
  }
}
.attribution {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 11px;
  text-align: center;
}
.attribution .link {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */